<div class="z-10 top-0 left-0 fixed w-full h-16">
    <div class="bg-white dark:bg-gray-700 border-theme-3 dark:border-gray-800 border-b w-full h-full flex px-5">
        <a class="flex md:hidden items-center h-full mr-auto px-5 -ml-5" href="javascript:;"> <svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-bar-chart-2 w-5 h-5 transform rotate-90">
                <line x1="18" y1="20" x2="18" y2="10"></line>
                <line x1="12" y1="20" x2="12" y2="4"></line>
                <line x1="6" y1="20" x2="6" y2="14"></line>
            </svg> </a>
        <div class="w-full h-full items-center flex flex-row-reverse">
            <button (click)="darkModeToggle()" class="btn p-3 text-gray-100 dark:text-gray-700 bg-gray-700 dark:bg-gray-100">Toggle Mode</button>
        </div>
    </div>
</div>
