<div class="h-screen flex items-center w-full h-full">
  <div class="relative px-4 xl:px-0 container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pt-16 lg:pt-36 gap-8">
      <div class="text-color">
          <h1 class="text-7xl w-1/2 xl:w-full xl:text-9xl font-black f-f-l">Build. Review. Ship.</h1>
          <div class="f-f-r text-xl lg:text-3xl pb-20 sm:pb-0 pt-10 xl:pt-20">
              <h2>The next big thing starts here.</h2>
          </div>
          <button class="hover:opacity-90 text-xl w-full xl:text-3xl xl:w-10/12 mt-4 xl:mt-11 f-f-r py-6 dark:bg-pink-700 bg-indigo-700 text-white text-bold">Let's Build</button>
      </div>
      <div class="bg-[#000000]">
          <img class="w-full lg:-ml-16 xl:-ml-44" src="https://cdn.tuk.dev/assets/templates/prodify/desktop.png" alt="" />
      </div>
  </div>
</div>
